{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
  <div class="container">
    <h3 class="mt-5 pb-3">Office Employee management System</h3>
    <hr>
    <a class="btn btn-outline-info" href="/all_emp" role="button">All employee</a>
    <a class="btn btn-outline-info" href="/add_emp" role="button">Add employee</a>
    <a class="btn btn-outline-info" href="/remove_emp" role="button">Remove employee</a>
    <a class="btn btn-outline-info" href="/filter_emp" role="button">Filter employee</a>
  </div>
</div>
{% endblock %}